body {
    margin: 0;
    font-family: Open Sans, Roboto, Arial;
}

h1, h2, h3 {
    font-family: "Raleway", "Open Sans", "Roboto", "Arial";
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #36a4ea;
}

a:visited {
    color: rgb(27, 118, 176);
}

h2 {
    font-weight: 200;
    text-align: center;
    margin: 50px;
}


li {
    margin: 20px;
}


.tip {
    background: rgb(130, 178, 228);
    border-left: 5px solid rgb(43, 130, 221);
    padding: 20px;
}

.tip code {
    background: white;
    box-shadow: none;
}

p {
    line-height: 25px;
}

p code, code:not(.hljs) {
    color: #50a14f;
    padding: 0px 5px;
}

code {
    line-height: 10px;
    font-family: "Roboto Mono", "Source Code Pro", monospace;
    box-shadow: 0px 0px 3px lightgray;
}

pre.def {
    margin-top: 15px;
}

main {
    padding: 5% 0px 10% 0px;
}

.button {
    width: 20%;
    text-align: center;
    display: block;
    margin: 20px auto;
    background: #16a085;
    padding: 15px;
    color: #f4d03f;
}

.button:visited {
    color: #f4d03f;
}

/* header */

header {
    display: flex;
    flex-flow: row;
    align-content: center;
    box-shadow: 0px 0px 15px lightgray;
    font-size: 22px;
}

header.home {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    background: transparent;
    box-shadow: none;
    color: white;
}

header.home a, header.home a:visited {
    color: white;
}

header h1 {
    font-weight: normal;
    text-align: left;
    display: inline;
}

header ul {
    text-align: center;
    margin: 10px 20%;
    display: inline;
    list-style: none;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

header ul li {
    display: inline;
    padding: 10px 30px;
    display: flex;
    align-content: center;
}

header ul li a {
    vertical-align: middle;
}

header ul li a img {
    max-width: 40px;
}

/* Presenter */

.presenter {
    min-height: 600px;
    background: url('bg.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 50px;
    padding-top: 120px;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 140) 0px 0px 15px;
}

.presenter img {
    max-width: 20%;
    margin: 5% 0px;
}

.presenter h1 {
    font-weight: 400;
    font-size: 44px;
}

.presenter h2 {
    font-weight: 200;
    font-size: 26px;
    font-style: italic;
}

/* Rows */

.row {
    padding: 10px 20%;
    text-align: justify;
}

.row:nth-child(2n) {
    background: #EFEFEF;
}

#links {
    text-align: center;
}

#links a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
}

/* Features */

#features {
    max-width: 1200px;
    width: auto;
    margin: auto;
}

#features div {
    vertical-align: top;
    display: inline-block;
    width: calc(50% - 40px);
    margin: auto;
    margin-top: 40px;
}

#features div:last-child {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}

#features div h3 {
    text-align: center;
}

/* responsive */
@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    .row {
        padding: 10px 10%;
    }

    header {
        padding: 10px;
    }

    header ul {
        margin: 0px;
    }

    header ul li {
        margin: 0px;
        padding 5px;
    }
    .presenter {
        padding-top: 80%;
    }

    .presenter img {
        max-width: 60%;
    }
}

/* footer */

footer {
    padding: 10px 20%;
    background: #16a085;
    color: #f4d03f;
    text-align: center;
    white-space:
}

footer .button {
    display: inline-block;
}

.center {
    text-align: center;
}

/* doc */

strong {
    display: block;
    width: 100px;
    float: left;
    text-align: right;
    padding: 0px 20px;
}

.taglets {
    padding: 10px 10%;
}

/* poulp specific */

.poulp {
    background: #16a085;
}
